:root {
    --white: #d9d9d9; /* Define a CSS variable */
    --text-activate: #00E8FC; /* Define a CSS variable */
}

#profil {
    font-family: 'Hauora', sans-serif;

    width: 240px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-left: 4px solid black;
    gap: 25px;
    /*background-color: blue;*/
    grid-column: 2; /* élément de la première colonne */
    grid-row: 1 / span 2; /* s'étend sur les deux lignes */
}


h1#pseudo {
    width: 100%;
    margin-top: 40px;
    text-align: center;
    font-size: 28px;

    color: var(--white);
}

img#profile_image {
    width: 180px;
    height: 200px;
    background-color: var(--white);
    clip-path: polygon(0 25%,50% 0,100% 25%, 100% 75%, 50% 100%,0 75%);
}

p#description {
    color: var(--white);
    font-size: 20px;
    padding: 0 20px;
}

span#separate {
    width: 80%;
    background-color: var(--white);
    border-radius: 2px;
    height: 2px;
}

a#more_details {
    width: 100%;
    text-align: center;
    font-size: 24px;

    color: var(--text-activate);
}