
body {
    width: 99%;
    min-height: 100%;
    background-color: #050523;
}

#title {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


#login {
    font-size: 2vh;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 3px;
    border-color: darkred;
    border-radius: 5vw;
    justify-items: center;
    color: darkred;
    height: 100vh;
    margin-top: 10vh;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    padding: 0;
}

.informations{
    margin: 0 auto;
    max-width: 80%;

}

.id{
    position: relative;
    left: 25%;
    font-size: large;
    text-align: center;
}
#login input {
    padding: 10px;
    border: 1px solid #ea5353;
    border-radius: 4px;
    background-color: rgba(87, 87, 87, 0.68);
    color: darkred;
    position: relative;
    left: 15%;
    width: 90%;
    margin: 5px auto;
    text-align: center;
}

#login input:hover {
    background-color: rgba(245, 245, 245, 0.19);
}

#login input::placeholder{
    color: rgba(234, 83, 83, 0.8);
}

#login input:focus{
    background-color: rgba(0, 0, 0, 0);
    border: none;

}

#informations {
    justify-content: space-between;
}

#identifiant{
    margin-right: auto;
    margin-left: auto;
}

#mailAdress {
    margin-right: auto;
    margin-left: auto;
}

#connexion {
    background-color: black;
    color: red;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin-top: 3vh;
    width: 10vw;
    position: relative;
    left: 32.5%;
    border-radius: 3vw;
}

#connexion:hover {
    background-color: red;
    color: black;
}

a {
    color: darkred;
    text-decoration: underline;
    cursor: grabbing;

}
.creation{
    position: relative;
    left: 15%;
    margin-bottom: 5vh;
}