<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="Style/adminPage.css">
    <script src="Script/adminPageScript.js"></script>
    <title>Page admin</title>
</head>
<body>
<header>
    <div class="Home">
        <button class="home">logo</button>
    </div>

</header>
<div class="onglets">
    <button class="onglet" onclick="afficherContenu(event, 'contenu1')">Validation message</button>
    <button class="onglet" onclick="afficherContenu(event, 'contenu2')">Message archivé</button>
    <button class="onglet" onclick="afficherContenu(event, 'contenu3')">Utilisateurs report</button>
    <button class="onglet" onclick="afficherContenu(event, 'contenu4')">Utilisateurs bannis</button>
    <button class="onglet" onclick="afficherContenu(event, 'contenu5')">Gestion Utilisateurs</button>
</div>

<div id="contenu1" class="contenu-onglet">

</div>

<div id="contenu2" class="contenu-onglet">

</div>

<div id="contenu3" class="contenu-onglet">

</div>

<div id="contenu4" class="contenu-onglet">

</div>

<div id="contenu5" class="contenu-onglet">

</div>

</body>
</html>