body {
    width: 99%;
    min-height: 100%;
    background-color: #050523;
    color: darkred;
    justify-content: center;
}

header {
}

.discussion {
    margin-top: 10vh;
}

.pageContent {
    display: flex;
    justify-content: flex-start;
}


.underPageContentFirst {
    flex: 1;
}

.underPageContentSecond {
    flex: 1.50;
    min-height: 100vh;
}

.underPageContentThird {
    flex: 1;
}

.discussion {
    margin-top: 10vh;
    position: relative;
}

.discussion::before,
.discussion::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: rgba(80, 0, 0, 0.5);
}

.discussion::before {
    left: -4px;
    box-shadow: -4px 0 10px rgb(255, 0, 0);
}

.discussion::after {
    right: -4px;
    box-shadow: 4px 0 10px rgb(255, 0, 0);
}

.underPageContentSecond input {
    width: 95%;
    height: 2vh;
    padding: 10px;
    border: 1px solid #ea5353;
    border-radius: 5vw;
    background-color: rgba(87, 87, 87, 0.68);
    color: darkred;
}

.categories {
    display: flex;
    top: 5vw;
    margin-left: 20%;
    margin-bottom: 5%;
    gap: 5%;
}

.categories button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 1vh;
}

.categories button.active {
    background-color: #000000;
    color: red;
    border-color: #0e0e4d;
    border-width: 5px;
}