body {
    width: 99%;
    min-height: 100%;
    background-color: #050523;
    color: darkred;
    justify-content: center;
}

header {
}

.discussion {
    margin-top: 10vh;
}

.pageContent {
    display: flex;
    justify-content: flex-start;
}


.underPageContentFirst {
    flex: 1;
}

.underPageContentSecond {
    flex: 1.50;
    min-height: 100vh;
}

.underPageContentThird {
    flex: 1;
}

.discussion {
    margin-top: 10vh;
    position: relative;
}

.discussion::before,
.discussion::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: rgba(80, 0, 0, 0.5);
}

.discussion::before {
    left: -4px;
    box-shadow: -4px 0 10px rgb(255, 0, 0);
}

.discussion::after {
    right: -4px;
    box-shadow: 4px 0 10px rgb(255, 0, 0);
}

.categories {
    display: flex;
    top: 5vw;
    margin-left: 20%;
    margin-bottom: 5%;
    gap: 5%;
}

.categories button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 1vh;
}

.categories button.active {
    background-color: #000000;
    color: red;
    border-color: #0e0e4d;
    border-width: 5px;
}

.menu-deroulant {
    position: fixed;
    top: 400px;
    right: 80px;
    width: 300px;
    padding: 20px;
    color: #000;
    z-index: 9999;
    background-color: transparent;
    border: 2px solid darkred;
    border-radius: 10px;
}


.menu-deroulant h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #7E001A;
}

.menu-deroulant select,
.menu-deroulant textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.menu-deroulant button {
    background-color: black;
    color: red;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    border-radius: 3px;
}

.menu-deroulant button:hover {
    background-color: #333;
}

.contenu-onglet {
    display: none;
}

#contenu1{
    display: block;
}

.importFile{
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 1vh;
}
a{
    text-decoration: none;
}

.topics{
    display: flex;
    background-color: rgba(108, 108, 108, 0.3);
    height: 75px ;
    border-radius: 2vh;
    color: #7E001A;
    align-items: center;
}

.contenu-onglet a {
    text-underline: none;
    color: #7E001A;
    font-size: 30px;
    font-weight: bold;
}

.contenu-onglet a:hover {
    color: red;
}

#login {
    margin-top: 5vh;
    margin-right: 2vw;
    height: 40px;
    width: 60px;
    background-color: #ddd;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 1vh;
}

.topics{
    display: flex;
    margin-top: 4vh;
}