body {
    width: 99%;
    min-height: 100%;
    background-color: #050523;
    color: darkred;
    justify-content: center;
}

header {
}

.discussion {
    margin-top: 10vh;
}

.pageContent {
    display: flex;
    justify-content: flex-start;
}


.underPageContentFirst {
    flex: 1;
}

.underPageContentSecond {
    flex: 1.50;
    min-height: 100vh;
}

.underPageContentThird {
    flex: 1;
}

.discussion {
    margin-top: 10vh;
    position: relative;
}

.discussion::before,
.discussion::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: rgba(80, 0, 0, 0.5);
}

.discussion::before {
    left: -4px;
    box-shadow: -4px 0 10px rgb(255, 0, 0);
}

.discussion::after {
    right: -4px;
    box-shadow: 4px 0 10px rgb(255, 0, 0);
}

.underPageContentSecond input {
    width: 95%;
    height: 2vh;
    padding: 10px;
    border: 1px solid #ea5353;
    border-radius: 5vw;
    background-color: rgba(87, 87, 87, 0.68);
    color: darkred;
}

.Title {
    display: flex;
    position: relative;
    font-size: 25px;
    margin-bottom: 5%;
    box-shadow: 0px 5px 5px rgba(185, 0, 0, 0.3); /* Ajout de la bordure d'ombre */
}

.comments {
    display: flex;
    position: relative;
    margin-top: 3vw;
    margin-bottom: 5%;
    box-shadow: 0px -5px 10px rgba(185, 0, 0, 0.3);
    border: 10px #7E001A;
}

.comment {
    display: flex;
    position: relative;
    margin-top: 5%;
}

.menu-deroulant {
    position: fixed;
    top: 400px;
    right: 80px;
    width: 300px;
    padding: 20px;
    color: #000;
    z-index: 9999;
    background-color: transparent;
    border: 2px solid darkred;
    border-radius: 10px;
}


.menu-deroulant h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.menu-deroulant select,
.menu-deroulant textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.menu-deroulant button {
    background-color: black;
    color: red;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    border-radius: 3px;
}

.menu-deroulant button:hover {
    background-color: #333;
}

.contenu-onglet {
    display: none;
}

#contenu1{
    display: block;
}

.edit {
    margin-top: 20%;
    margin-left: 10%;
}

.edit #title {
    background-color: rgba(0, 126, 255, 0.27);
    width: 20vw;
    height: 5vh;
    color: white;
    margin-bottom:2vh;
}

.edit #message {
    background-color: rgba(0, 126, 255, 0.27);
    width: 20vw;
    height: 20vh;
    color: white;
}

.editForm {
    display: flex;
    flex-direction: column;
}

.editForm button{
width: 40%;
    margin-top: 5vh;
    margin-left: 4vw;
    height: 3vh;
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 1vh;
}

