<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="Style/error.css">
    <title>Error page</title>
</head>
<body>
<header>
    <div class="Home">
        <button class="home">logo</button>
    </div>
</header>
<div id="errorMessage">
    <div id="errorType">
        <h1>Erreur {{...}}</h1>
    </div>
    <div class="backHome">
        Vous pouvez retournez sur la page principale <a href="../MainPage/MainPage.html"> en cliquant ici </a>
    </div>
</div>
</body>
</html>