<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="Style/login.css">
  <title>Login guez</title>
</head>
<body>
<div id="login">
  <h1 id="title">
    Inscription
  </h1>
  <br>
  <div class="informations">
    <div class="identifiant">
      <p class="id">Entrez votre pseudo :</p>
    </div>
    <br>
    <input type="text" id="pseudo" placeholder="Pseudo" required>
    <br>
    <div class="identifiant">
      <p class="id">Entrez votre adresse mail :</p>
    </div>
    <br>
    <input type="text" id="mailAdress" placeholder="Adresse mail" required>
    <br>
    <div class="identifiant">
      <p class="id">  Entrez votre mot de passe :</p>

    </div>
    <input type="password" id="password" placeholder="Mot de passe" required>
    <br>
    <div class="identifiant">
      <p class="id">  Confirmez votre mot de passe :</p>

    </div>
    <input type="password" id="confPassword" placeholder="Confirmation mot de passe" required>
    <button id="connexion">Inscription</button>
    <br>
    <br>
    <div class="creation">
      Vous possedez déjà un compte ?<a href="Login.html"> Connectez vous !  </a>
    </div>
  </div>

</div>
</body>
</html>