<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="Style/login.css">
    <title>Login guez</title>
</head>
<body>
<div id="login">
    <h1 id="title">
        Connection
    </h1>
    <br>
    <div class="informations">
        <div class="identifiant">
            <p class="id">Entrez votre adresse mail :</p>
        </div>
        <br>
        <input type="text" id="mailAdress" placeholder="Adresse mail">
        <br>
        <div id="identifiant">
          <p class="id">  Entrez votre mot de passe :</p>

        </div>
        <input type="password" id="password" placeholder="mot de passe">
        <br>
        <button id="connexion">Connexion</button>
        <br>
        <br>
        <div class="creation">
        Vous ne possedez pas de compte ?<a href="Inscription.html"> Créez en un !  </a>
        </div>
        </div>

</div>
</body>
</html>