<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="assets/style/404.css">
</head>
<body>
<audio id="myAudio">
    <source src="assets/img/Farfadet%20maléfique.mp3" type="audio/mpeg">
</audio>

<video id="myVideo1" width="560" height="315" controls>
    <source src="assets/img/hype.mp4" type="video/mp4">
</video>

<video id="myVideo2" width="560" height="315" autoplay loop>
    <source src="assets/img/explosion.mp4" type="video/mp4">
</video>

<video id="myVideo3" width="560" height="315" autoplay loop>
    <source src="assets/img/explosionavion.mp4" type="video/mp4">
</video>

<video id="myVideo4" width="560" height="315" autoplay loop>
    <source src="assets/img/photo.mp4" type="video/mp4">
</video>

<img src="assets/img/smyle.jpg" alt="Description de l'image" style="max-width: 100%;">

<p style="text-align: center;">
    Voici le onlyfan de la mère a florian pour les petit curieux (elle vend c'est pied de déesse).
    <a href="https://www.letribunaldunet.fr/insolite/20-photos-dongles-de-pieds-immondes-les-pires-doigts-de-pieds-du-monde-sont-ici.html" style="color: white;">Cliquez ici</a> pour en savoir plus.
</p>

<video id="myVideo5" width="560" height="315" autoplay loop>
    <source src="assets/img/Download.mp4" type="video/mp4">
</video>

<script src="assets/scripts/404.js"></script>
</body>
</html>
