<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administration</title>
</head>
<body>
  <form onsubmit="submitForm(event)">
    <h1>Mettre Admin</h1>
    <select id = "role-admin-user" class = "allRole">
      <option value="">Select a user</option>
    </select>
    <h1>Mettre Modo</h1>
    <select id = "role-modo-user" class = "allRole">
      <option value="">Select a user</option>
    </select>
    <h1>Unban user</h1>
    <select id = "unban-user">
      <option value="">Select a user</option>
    </select>
    <h1>ban user</h1>
    <select id = "ban-user">
      <option value="">Select a user</option>
    </select>
    <h1>Supprimer un Post</h1>
    <select id = "delete-post">
      <option value = "">Select a Post</option>
    </select>

    <button type="submit">Appliquer</button>
  </form>
<script src = "assets/scripts/admin.js"></script>
</body>
</html>