<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="assets/style/Inscription.css">
</head>
<body style="overflow: hidden">
<div class="rectangle2"></div>
<div class="rectangle"></div>
<div class="rectangle3"></div>
<div class="rectangle4"></div>
<div class="rectangle5"></div>
<div class="rectangle6"></div>

<img src="assets/img/carte.jpg" alt="Image">
<img class="img1" src="assets/img/vidéo.gif" alt="GIF">

<div class="square">
  <div class="dot"></div>
</div>

<div class="square2">
  <div class="dot2"></div>
</div>

<div class="ipv4-list">
  <div class="ipv4-column">
    <ul>
      <li>192.168.0.1</li>
      <li>10.0.0.1</li>
      <li>172.16.0.1</li>
      <li>192.168.1.1</li>
      <li>192.0.2.1</li>
      <li>198.51.100.1</li>
      <li>203.0.113.1</li>
      <li>192.168.2.1</li>
      <li>10.0.0.2</li>
      <li>172.16.0.2</li>
    </ul>
  </div>

  <div class="ipv4-column">
    <ul>
      <li>10.10.0.1</li>
      <li>172.31.0.1</li>
      <li>192.168.10.1</li>
      <li>10.1.0.1</li>
      <li>192.168.3.1</li>
      <li>203.0.113.2</li>
      <li>10.0.0.3</li>
      <li>172.16.0.3</li>
      <li>192.168.4.1</li>
      <li>10.0.0.4</li>
    </ul>
  </div>

  <div class="ipv4-column">
    <ul>
      <li>172.16.0.4</li>
      <li>192.168.5.1</li>
      <li>10.0.0.5</li>
      <li>172.16.0.5</li>
      <li>192.168.6.1</li>
      <li>10.0.0.6</li>
      <li>172.16.0.6</li>
      <li>192.168.7.1</li>
      <li>10.0.0.7</li>
      <li>172.16.0.7</li>
    </ul>
  </div>

  <div class="ipv4-column">
    <ul>
      <li>192.168.8.1</li>
      <li>10.0.0.8</li>
      <li>172.16.0.8</li>
      <li>192.168.9.1</li>
      <li>10.0.0.9</li>
      <li>172.16.0.9</li>
      <li>192.168.10.1</li>
      <li>10.0.0.10</li>
      <li>172.16.0.10</li>
      <li>192.168.11.1</li>
    </ul>
  </div>

  <div class="ipv4-column">
    <ul>
      <li>10.0.0.11</li>
      <li>172.16.0.11</li>
      <li>192.168.12.1</li>
      <li>10.0.0.12</li>
      <li>172.16.0.12</li>
      <li>192.168.13.1</li>
      <li>10.0.0.13</li>
      <li>172.16.0.13</li>
      <li>192.168.14.1</li>
      <li>10.0.0.14</li>
    </ul>
  </div>

  <div class="ipv4-column">
    <ul>
      <li>172.16.0.14</li>
      <li>192.168.15.1</li>
      <li>10.0.0.15</li>
      <li>172.16.0.15</li>
      <li>192.168.16.1</li>
      <li>10.0.0.16</li>
      <li>172.16.0.16</li>
      <li>192.168.17.1</li>
      <li>10.0.0.17</li>
      <li>172.16.0.17</li>
    </ul>
  </div>
</div>
<div class="ipv5-list">
  <div class="ipv5-column">
    <ul>
      <li>192.168.0.1</li>
      <li>10.0.0.1</li>
    </ul>
  </div>

  <div class="ipv5-column">
    <ul>
      <li>172.16.0.1</li>
      <li>192.168.1.1</li>
    </ul>
  </div>

  <div class="ipv5-column">
    <ul>
      <li>10.10.0.1</li>
      <li>172.31.0.1</li>
    </ul>
  </div>
</div>
<div id="login">
  <h1 id="title">
    Inscription
  </h1>
  <br>
  <div class="informations">
    <br>
    <form action="" method="post" id="form">
      <div class="identifiant">
        <p class="id">Entrez votre pseudo :</p>
      </div>
      <input type="text" id="pseudo" placeholder="Pseudo" required>
      <br>
      <div class="identifiant">
        <p class="id">Entrez votre adresse mail :</p>
      </div>
      <br>
      <input type="text" id="mailAdress" placeholder="Adresse mail" required>
      <br>
      <div class="identifiant">
        <p class="id">  Entrez votre mot de passe :</p>
      </div>
      <input type="password" id="password" placeholder="Mot de passe" required>
      <br>
      <div class="identifiant">
        <p class="id">  Confirmez votre mot de passe :</p>
      </div>
      <input type="password" id="confPassword" placeholder="Confirmation mot de passe" required>
      <button id="connexion">Inscription</button>
      <br>
      <br>
      <div class="creation">
        Vous possedez déjà un compte ?<a href="Login.html"> Connectez vous !  </a>
      </div>
    </form>
  </div>
</div>
<script src = "assets/scripts/register.js"></script>
</body>
</html>
