<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="assets/style/PostPage.css">
    <title>Home</title>
</head>
<body>
<header>

</header>
<div class="pageContent" id="">
    <div class="underPageContentFirst" >
    </div>
    <div class="discussion underPageContentSecond">
        <div class="Title">


        </div>
        <div class="contentPost">


        </div>
        <div id="comments">
        </div>
    </div>
    <div class="underPageContentThird" >
        <div class="edit">

        <form action="" class="editForm">
            <h2>Vous souhaitez modifier votre message ?</h2>
            <textarea id="title" name="message" placeholder="Entrez votre nouveau titre ici" ></textarea>
        <textarea id="message" name="message" placeholder="Entrez votre nouveau texte ici" ></textarea>
        <button id="editedText">Modifier</button>
        </form>
    </div>
    </div>
</div>
<div class = "item-like">
    <p class = "text-like"></p>
    <button class="like">like</button>
</div>
<div class = "item-dislike">
    <p class = "text-dislike"></p>
    <button class="dislike">dislike</button>
</div>
<script src="assets/scripts/PostPageComments.js"></script>
<script src="assets/scripts/PostPage.js"></script>
</body>
</html>
