<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="assets/style/PostPage.css">
    <title>Home</title>
</head>
<body>
<header>

</header>
<div class="pageContent" id="">
    <div class="underPageContentFirst" >
    </div>
    <div class="discussion underPageContentSecond">
        <div class="Title">


        </div>
        <div class="contentPost">


        </div>
        <div class="comments">
            <div class="comment">
            </div>
        </div>
    </div>
    <div class="underPageContentThird" >
        <div class="edit">

        <form action="" class="editForm">
            <h2>Vous souhaitez modifier votre message ?</h2>
            <textarea id="title" name="message" placeholder="Entrez votre nouveau titre ici" ></textarea>
        <textarea id="message" name="message" placeholder="Entrez votre nouveau texte ici" ></textarea>
        <button id="editedText">Modifier</button>
        </form>
    </div>
    </div>
</div>
<script src="https://use.fontawesome.com/fe459689b4.js"></script>

<buttonlike class="btn" id="green"><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i></buttonlike>
<buttonlike class="btn" id="red"><i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i></buttonlike>
<script src="assets/scripts/PostPage.js"></script>
</body>
</html>
