<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="assets/style/PostPage.css">
    <title>Home</title>
</head>
<body>
<header>

</header>
<div class="pageContent" id="">
    <div class="underPageContentFirst" >
    </div>
    <div class="discussion underPageContentSecond">
        <div class="Title">
            Il n'y a pas de plus grand amour que de donner sa vie pour ses amis.
        </div>
        <div class="contentPost">
            Quand je parlerais les langues des hommes et des anges, si je n'ai pas la charité, je suis un airain qui résonne, ou une cymbale qui retentit. 2 Et quand j'aurais le don de prophétie, la science de tous les mystères et toute la connaissance, quand j'aurais même toute la foi jusqu'à transporter des montagnes, si je n'ai pas la charité, je ne suis rien. 3 Et quand je distribuerais tous mes biens pour la nourriture des pauvres, quand je livrerais même mon corps pour être brûlé, si je n'ai pas la charité, cela ne me sert de rien. 4 La charité est patiente, elle est pleine de bonté; la charité n'est point envieuse; la charité ne se vante point, elle ne s'enfle point d'orgueil, 5 elle ne fait rien de malhonnête, elle ne cherche point son intérêt, elle ne s'irrite point, elle ne soupçonne point le mal, 6 elle ne se réjouit point de l'injustice, mais elle se réjouit de la vérité; 7 elle excuse tout, elle croit tout, elle espère tout, elle supporte tout.
        </div>
        <div class="comments">
            <div class="comment">
            </div>
        </div>
    </div>
    <div class="underPageContentThird"></div>
</div>
<div class = "item-like">
    <p class = "text-like">ttttt</p>
    <button class="like">like</button>
</div>
<div class = "item-dislike">
    <button class="dislike">dislike</button>
    <p class = "text-dislike">tttt</p>
</div>
<script src="assets/scripts/post.js"></script>
</body>
</html>
